<div class="row app-wrapper">
    <div class="col s12">
        <div class="card-panel deep-orange darken-4 white-text row">
            <span class="col s6 left-align white-text">
                <i class="material-icons">assignment</i>
                <span class="super"><span *ngFor="let part of storage.currentPath">{{part}}<span *ngIf="!$last"><strong class="grey-text">&nbsp;&gt;&nbsp;</strong></span></span></span>
            </span>
            <span class="col s6">
                <span class="right btn btn-flat white btn-spacing" *ngIf="storage.editMode" (click)="storage.editMode = !storage.editMode; saveFile()"><i class="material-icons right">mode_edit</i>Enregister</span>
                <span class="right btn btn-flat white btn-spacing" *ngIf="storage.editMode" (click)="storage.editMode = !storage.editMode; cancelEditing()"><i class="material-icons right">not_interested</i>Annuler</span>
                <span class="right btn btn-flat white btn-spacing" *ngIf="!storage.editMode" (click)="storage.editMode = !storage.editMode"><i class="material-icons right">mode_edit</i>Editer</span>
            </span>
        </div>
    </div>
    <div class="col s12" *ngIf="storage.mdFiles && storage.mdFiles.length > 1">
        <ul class="collection">
            <li class="collection-item" *ngFor="let file of storage.mdFiles" (click)="askOpenFile(file)">
                <i class="material-icons circle">description</i>
                <span class="title super">{{file}}</span>
            </li>
        </ul>
    </div>
    <div class="col s12 content-wrapper">
        <div *ngIf="storage.editMode" class="column">
            <div class="column-item grey lighten-4 full-height"><textarea writer cols="30" rows="10">{{storage.fileContent}}</textarea></div>
            <div class="column-item grey lighten-4 full-height"><div class="full-height" reader></div></div>
        </div>
        <div *ngIf="!storage.editMode" class="column">
            <div class="col s12 grey lighten-4 full-height"><div class="full-height" reader></div></div>
        </div>
    </div>
</div>